In [2]:
import pandas as pd

In [5]:
rawdata_2008 = pd.read_csv('Data/data.csv')

In [6]:
rawdata_2008

,street,city,zip,state,beds,baths,sq_ft,type,price,latitude,longitude,day,month,date,year
0,1 KENNELFORD CIR,SACRAMENTO,95823,CA,3,2,1144,Residential,200345,38.464520,-121.427606,Mon,May,19,2008
1,10 SEA FOAM CT,SACRAMENTO,95831,CA,3,3,2052,Residential,415000,38.487885,-121.545947,Wed,May,21,2008
2,100 CHELSEA CT,FOLSOM,95630,CA,3,2,1905,Residential,500000,38.694350,-121.177259,Mon,May,19,2008
3,100 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,4897,38.886091,-121.289744,Mon,May,19,2008
4,100 CRYSTALWOOD WAY,LINCOLN,95648,CA,0,0,0,Residential,4897,38.886282,-121.289706,Mon,May,19,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,993 MANTON CT,GALT,95632,CA,4,3,2307,Residential,300000,38.272942,-121.289148,Tue,May,20,2008
979,9937 BURLINE ST,SACRAMENTO,95827,CA,3,2,1092,Residential,150000,38.559641,-121.323160,Fri,May,16,2008
980,9949 NESTLING CIR,ELK GROVE,95757,CA,3,2,1543,Residential,275000,38.397455,-121.468391,Fri,May,16,2008
981,9967 HATHERTON WAY,ELK GROVE,95757,CA,0,0,0,Residential,222500,38.305200,-121.403300,Fri,May,16,2008
982,9970 STATE HIGHWAY 193,PLACERVILLE,95667,CA,4,3,1929,Residential,485000,38.787877,-120.816676,Tue,May,20,2008

In [10]:
stats_2008 = rawdata_2008.copy()
stats_2008['price per sqft'] = stats_2008['price']/stats_2008['sq_ft']
stats_2008

,street,city,zip,state,beds,baths,sq_ft,type,price,latitude,longitude,day,month,date,year,price per sqft
0,1 KENNELFORD CIR,SACRAMENTO,95823,CA,3,2,1144,Residential,200345,38.464520,-121.427606,Mon,May,19,2008,175.126748
1,10 SEA FOAM CT,SACRAMENTO,95831,CA,3,3,2052,Residential,415000,38.487885,-121.545947,Wed,May,21,2008,202.241715
2,100 CHELSEA CT,FOLSOM,95630,CA,3,2,1905,Residential,500000,38.694350,-121.177259,Mon,May,19,2008,262.467192
3,100 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,4897,38.886091,-121.289744,Mon,May,19,2008,inf
4,100 CRYSTALWOOD WAY,LINCOLN,95648,CA,0,0,0,Residential,4897,38.886282,-121.289706,Mon,May,19,2008,inf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,993 MANTON CT,GALT,95632,CA,4,3,2307,Residential,300000,38.272942,-121.289148,Tue,May,20,2008,130.039012
979,9937 BURLINE ST,SACRAMENTO,95827,CA,3,2,1092,Residential,150000,38.559641,-121.323160,Fri,May,16,2008,137.362637
980,9949 NESTLING CIR,ELK GROVE,95757,CA,3,2,1543,Residential,275000,38.397455,-121.468391,Fri,May,16,2008,178.224238
981,9967 HATHERTON WAY,ELK GROVE,95757,CA,0,0,0,Residential,222500,38.305200,-121.403300,Fri,May,16,2008,inf
982,9970 STATE HIGHWAY 193,PLACERVILLE,95667,CA,4,3,1929,Residential,485000,38.787877,-120.816676,Tue,May,20,2008,251.425609

In [11]:
zip_stats = stats_2008.copy().groupby('zip').agg({'price':'mean','price per sqft':'mean','sq_ft':'mean','city':'count'})

In [12]:
zip_stats

               price  price per sqft        sq_ft  city
zip
95603  405890.800000             inf   898.600000     5
95608  295684.750000      187.561842  1553.100000    20
95610  226436.285714      148.454806  1578.142857     7
95614  300000.000000      205.902539  1457.000000     1
95619  216033.000000      166.179231  1300.000000     1
...              ...             ...          ...   ...
95838  149461.351351             inf  1247.378378    37
95841  213806.142857      157.043825  1382.428571     7
95842  143281.772727      119.162551  1210.181818    22
95843  232496.393939      140.575333  1716.636364    33
95864  364400.000000      239.665297  1521.200000     5

[68 rows x 4 columns]