In [64]:
import pandas as pd

In [65]:
rawdata_2008 = pd.read_csv('Data/data.csv')
rawdata_2018 =pd.read_csv('Data/zipcode_sales_nov2018.csv')

In [66]:
display(rawdata_2008)
display(rawdata_2018)

,street,city,zip,state,beds,baths,sq_ft,type,price,latitude,longitude,day,month,date,year
0,1 KENNELFORD CIR,SACRAMENTO,95823,CA,3,2,1144,Residential,200345,38.464520,-121.427606,Mon,May,19,2008
1,10 SEA FOAM CT,SACRAMENTO,95831,CA,3,3,2052,Residential,415000,38.487885,-121.545947,Wed,May,21,2008
2,100 CHELSEA CT,FOLSOM,95630,CA,3,2,1905,Residential,500000,38.694350,-121.177259,Mon,May,19,2008
3,100 CRYSTALWOOD CIR,LINCOLN,95648,CA,0,0,0,Residential,4897,38.886091,-121.289744,Mon,May,19,2008
4,100 CRYSTALWOOD WAY,LINCOLN,95648,CA,0,0,0,Residential,4897,38.886282,-121.289706,Mon,May,19,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,993 MANTON CT,GALT,95632,CA,4,3,2307,Residential,300000,38.272942,-121.289148,Tue,May,20,2008
979,9937 BURLINE ST,SACRAMENTO,95827,CA,3,2,1092,Residential,150000,38.559641,-121.323160,Fri,May,16,2008
980,9949 NESTLING CIR,ELK GROVE,95757,CA,3,2,1543,Residential,275000,38.397455,-121.468391,Fri,May,16,2008
981,9967 HATHERTON WAY,ELK GROVE,95757,CA,0,0,0,Residential,222500,38.305200,-121.403300,Fri,May,16,2008
982,9970 STATE HIGHWAY 193,PLACERVILLE,95667,CA,4,3,1929,Residential,485000,38.787877,-120.816676,Tue,May,20,2008

          Community    ZIP  Sales  2017 median  2018 median  Change
0        Sacramento  95815     27       212500       220000     3.5
1        Sacramento  95824     17       195000       222000    13.8
2        Sacramento  95838     42       205000       232000    13.2
3   North Highlands  95660     38       240000       235000    -2.1
4        Sacramento  95820     51       235000       269000    14.5
..              ...    ...    ...          ...          ...     ...
56  El Dorado Hills  95762     63       575000       625000     8.7
57            Davis  95616     12       650100       660750     1.6
58       Tahoe City  96145     12       637500       673000     5.6
59      Granite Bay  95746     29       704500       750000     6.5
60          Truckee  96161     13      1035000      1315500    27.1

[61 rows x 6 columns]

In [67]:
cleandata_2018= (rawdata_2018.copy()
                 .rename(columns={"ZIP":'zip',
                                  "Sales":'Sales_2018',
                                  '2017 median':'Median_Price_2017',
                                  '2018 median':'Median_Price_2018'})
                 .drop(['Change'],axis=1))
display(cleandata_2018)

          Community    zip  Sales_2018  Median_Price_2017  Median_Price_2018
0        Sacramento  95815          27             212500             220000
1        Sacramento  95824          17             195000             222000
2        Sacramento  95838          42             205000             232000
3   North Highlands  95660          38             240000             235000
4        Sacramento  95820          51             235000             269000
..              ...    ...         ...                ...                ...
56  El Dorado Hills  95762          63             575000             625000
57            Davis  95616          12             650100             660750
58       Tahoe City  96145          12             637500             673000
59      Granite Bay  95746          29             704500             750000
60          Truckee  96161          13            1035000            1315500

[61 rows x 5 columns]

In [68]:
cleandata_2008 = rawdata_2008.copy()
cleandata_2008 = cleandata_2008.drop(cleandata_2008.index[cleandata_2008['sq_ft']==0])
display(cleandata_2008.info())
display(cleandata_2008.describe)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 812 entries, 0 to 982
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   street     812 non-null    object
 1   city       812 non-null    object
 2   zip        812 non-null    int64
 3   state      812 non-null    object
 4   beds       812 non-null    int64
 5   baths      812 non-null    int64
 6   sq_ft      812 non-null    int64
 7   type       812 non-null    object
 8   price      812 non-null    int64
 9   latitude   812 non-null    float64
 10  longitude  812 non-null    float64
 11  day        812 non-null    object
 12  month      812 non-null    object
 13  date       812 non-null    int64
 14  year       812 non-null    int64
dtypes: float64(2), int64(7), object(6)
memory usage: 101.5+ KB

None

<bound method NDFrame.describe of                      street         city    zip state  beds  baths  sq_ft  \
0          1 KENNELFORD CIR   SACRAMENTO  95823    CA     3      2   1144
1            10 SEA FOAM CT   SACRAMENTO  95831    CA     3      3   2052
2            100 CHELSEA CT       FOLSOM  95630    CA     3      2   1905
5           100 REBECCA WAY       FOLSOM  95630    CA     3      2   2185
6        100 TOURMALINE CIR   SACRAMENTO  95834    CA     5      3   3076
..                      ...          ...    ...   ...   ...    ...    ...
977          9880 IZILDA CT   SACRAMENTO  95829    CA     5      4   3863
978           993 MANTON CT         GALT  95632    CA     4      3   2307
979         9937 BURLINE ST   SACRAMENTO  95827    CA     3      2   1092
980       9949 NESTLING CIR    ELK GROVE  95757    CA     3      2   1543
982  9970 STATE HIGHWAY 193  PLACERVILLE  95667    CA     4      3   1929

            type   price   latitude   longitude  day month  date  year
0    Residential  200345  38.464520 -121.427606  Mon   May    19  2008
1    Residential  415000  38.487885 -121.545947  Wed   May    21  2008
2    Residential  500000  38.694350 -121.177259  Mon   May    19  2008
5    Residential  344250  38.684790 -121.149199  Wed   May    21  2008
6    Residential  240000  38.634370 -121.510779  Mon   May    19  2008
..           ...     ...        ...         ...  ...   ...   ...   ...
977  Residential  598695  38.453260 -121.325730  Fri   May    16  2008
978  Residential  300000  38.272942 -121.289148  Tue   May    20  2008
979  Residential  150000  38.559641 -121.323160  Fri   May    16  2008
980  Residential  275000  38.397455 -121.468391  Fri   May    16  2008
982  Residential  485000  38.787877 -120.816676  Tue   May    20  2008

[812 rows x 15 columns]>

In [69]:
stats_2008 = cleandata_2008.copy()
stats_2008['price per sqft'] = stats_2008['price']/stats_2008['sq_ft']
stats_2008

,street,city,zip,state,beds,baths,sq_ft,type,price,latitude,longitude,day,month,date,year,price per sqft
0,1 KENNELFORD CIR,SACRAMENTO,95823,CA,3,2,1144,Residential,200345,38.464520,-121.427606,Mon,May,19,2008,175.126748
1,10 SEA FOAM CT,SACRAMENTO,95831,CA,3,3,2052,Residential,415000,38.487885,-121.545947,Wed,May,21,2008,202.241715
2,100 CHELSEA CT,FOLSOM,95630,CA,3,2,1905,Residential,500000,38.694350,-121.177259,Mon,May,19,2008,262.467192
5,100 REBECCA WAY,FOLSOM,95630,CA,3,2,2185,Residential,344250,38.684790,-121.149199,Wed,May,21,2008,157.551487
6,100 TOURMALINE CIR,SACRAMENTO,95834,CA,5,3,3076,Residential,240000,38.634370,-121.510779,Mon,May,19,2008,78.023407
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
977,9880 IZILDA CT,SACRAMENTO,95829,CA,5,4,3863,Residential,598695,38.453260,-121.325730,Fri,May,16,2008,154.981879
978,993 MANTON CT,GALT,95632,CA,4,3,2307,Residential,300000,38.272942,-121.289148,Tue,May,20,2008,130.039012
979,9937 BURLINE ST,SACRAMENTO,95827,CA,3,2,1092,Residential,150000,38.559641,-121.323160,Fri,May,16,2008,137.362637
980,9949 NESTLING CIR,ELK GROVE,95757,CA,3,2,1543,Residential,275000,38.397455,-121.468391,Fri,May,16,2008,178.224238
982,9970 STATE HIGHWAY 193,PLACERVILLE,95667,CA,4,3,1929,Residential,485000,38.787877,-120.816676,Tue,May,20,2008,251.425609

In [70]:
zip_stats = (round(
    stats_2008.copy()
    .groupby('zip')
    .agg({'price':'median',
          'price per sqft':'median',
          'sq_ft':'median',
          'city':'count'})
    .rename(columns={'city':"Sales_2008",
                     'price':"Median_Price_2008",
                     'price per sqft':'Median_Price_sqft_2008',
                     'sq_ft':"Median_sqft_2008"})
    ,0))

In [71]:
zip_stats

       Median_Price_2008  Median_Price_sqft_2008  Median_sqft_2008  Sales_2008
zip
95603           285000.0                   207.0            1255.0           3
95608           248567.0                   182.0            1472.0          20
95610           219000.0                   123.0            1410.0           7
95614           300000.0                   206.0            1457.0           1
95619           216033.0                   166.0            1300.0           1
...                  ...                     ...               ...         ...
95838           130427.0                   106.0            1225.0          36
95841           207000.0                   132.0            1122.0           7
95842           152727.0                   108.0            1116.0          22
95843           231200.0                   138.0            1669.0          33
95864           315000.0                   232.0            1360.0           5

[66 rows x 4 columns]

In [72]:
zip_stats.to_csv('Data/zipcode_sales_may2008.csv')

In [73]:
combined_stats = pd.merge(zip_stats,cleandata_2018, on="zip",how='inner')

In [74]:
display(combined_stats)

,zip,Median_Price_2008,Median_Price_sqft_2008,Median_sqft_2008,Sales_2008,Community,Sales_2018,Median_Price_2017,Median_Price_2018
0,95603,285000.0,207.0,1255.0,3,Auburn,29,407550,440000
1,95608,248567.0,182.0,1472.0,20,Carmichael,61,372250,399500
2,95610,219000.0,123.0,1410.0,7,Citrus Heights,29,325000,362000
3,95621,168646.0,143.0,1268.0,28,Citrus Heights,32,306000,316500
4,95624,229000.0,139.0,1721.0,31,Elk Grove,74,390000,424000
5,95628,230000.0,175.0,1450.0,9,Fair Oaks,39,417000,455000
6,95630,441000.0,178.0,2185.0,15,Folsom,59,499000,590000
7,95632,214674.0,137.0,1514.0,20,Galt,29,316000,366000
8,95648,268250.0,164.0,1535.0,6,Lincoln,74,425000,440000
9,95650,567000.0,369.0,1476.0,2,Loomis,14,391000,487500
10,95660,129000.0,117.0,1152.0,21,North Highlands,38,240000,235000
11,95661,377750.0,177.0,2162.0,8,Roseville,45,499250,450000
12,95662,252155.0,160.0,1574.0,11,Orangevale,44,350000,375750
13,95667,350000.0,226.0,1929.0,5,Placerville,27,352000,326000
14,95670,233848.0,153.0,1486.0,20,Rancho Cordova,48,315000,307000
15,95673,173000.0,147.0,1182.0,12,Rio Linda,16,275000,292500
16,95677,257548.0,173.0,1486.0,2,Rocklin,28,440000,405000
17,95678,233750.0,162.0,1628.0,14,Roseville,38,384000,378000
18,95682,399000.0,198.0,2016.0,1,Shingle Springs,29,404000,444000
19,95691,147000.0,166.0,884.0,1,West Sacramento,27,390000,429000
20,95726,265000.0,192.0,1320.0,3,Pollock Pines,16,300100,280000
21,95742,357550.0,109.0,3398.0,4,Rancho Cordova,13,440000,418000
22,95746,676200.0,233.0,2896.0,3,Granite Bay,29,704500,750000
23,95747,273500.0,168.0,1473.0,6,Roseville,97,450000,465000
24,95757,335750.0,140.0,2658.0,34,Elk Grove,42,445000,449000
25,95758,220500.0,139.0,1596.0,42,Elk Grove,60,382500,377500
26,95762,262500.0,173.0,1808.0,3,El Dorado Hills,63,575000,625000
27,95765,358188.0,181.0,1790.0,6,Rocklin,40,480000,490000
28,95815,93070.0,85.0,1022.0,18,Sacramento,27,212500,220000
29,95816,245000.0,193.0,1269.0,3,Sacramento,11,644750,532000
30,95817,127059.0,116.0,1093.0,7,Sacramento,24,317500,398750
31,95818,292024.0,237.0,1126.0,7,Sacramento,22,486250,548500
32,95819,412500.0,283.0,1595.0,4,Sacramento,17,574250,595000
33,95820,122588.0,115.0,1028.0,22,Sacramento,51,235000,269000
34,95821,209500.0,135.0,1368.0,6,Sacramento,30,329500,315000
35,95822,128375.0,112.0,1142.0,24,Sacramento,59,269000,273500
36,95823,168000.0,117.0,1436.0,61,Sacramento,67,256500,277000
37,95824,101300.0,104.0,1055.0,12,Sacramento,17,195000,222000
38,95825,188000.0,149.0,1402.0,12,Sacramento,13,242500,295000
39,95826,180500.0,148.0,1240.0,18,Sacramento,27,315000,329000
40,95827,170000.0,120.0,1520.0,9,Sacramento,12,307500,316000
41,95828,170000.0,110.0,1448.0,45,Sacramento,39,278000,295000
42,95829,240000.0,119.0,2170.0,11,Sacramento,34,339250,365000
43,95831,311518.0,177.0,1795.0,9,Sacramento,33,395000,443000
44,95832,163750.0,111.0,1301.0,12,Sacramento,16,255000,273500
45,95833,174250.0,130.0,1390.0,17,Sacramento,34,276500,295000
46,95834,232500.0,135.0,1601.0,17,Sacramento,20,345750,410000
47,95835,262250.0,141.0,1890.0,34,Sacramento,49,375000,398000
48,95838,130427.0,106.0,1225.0,36,Sacramento,42,205000,232000
49,95841,207000.0,132.0,1122.0,7,Sacramento,13,292000,320000
50,95842,152727.0,108.0,1116.0,22,Sacramento,23,275000,300000
51,95843,231200.0,138.0,1669.0,33,Antelope,61,322500,350000
52,95864,315000.0,232.0,1360.0,5,Sacramento,31,550000,425000

In [75]:
combined_stats.to_csv('Data/zipcode_medians_combined.csv')